In [1]:
import pickle
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV

## Standard Scaler

In [34]:
#import prefit standard scaler 
with open(r"..\model\eng_scale.pickle", "rb") as scaler_eng_features:
    scaler = pickle.load(scaler_eng_features)

## KNN Model

In [35]:
#import KNN Model
with open(r"..\model\grid_knn_best.pickle", "rb") as knn_model:
    grid_knn = pickle.load(knn_model)

## Decision Tree Model

In [2]:
#import Decision Tree
with open(r"..\model\grid_tree.pickle", "rb") as dt_model:
    grid_tree = pickle.load(dt_model)

## Data Import

In [37]:
df = pd.read_csv("..\data\holdout_data_eda.csv")
df.drop(columns = "Unnamed: 0", inplace=True)

In [38]:
eng_feature = ['max_credit', 'gender', 'education',
       'pay_status_sep', 'pay_status_aug', 'pay_status_jul', 'pay_status_jun', 'pay_status_may', 'pay_status_apr',
       'married', 'carry_sep', 'carry_aug', 'carry_jul', 'carry_jun', 'carry_may', 'carry_apr', 'carry_ratio_sep', 'carry_ratio_aug',
       'carry_ratio_jul', 'carry_ratio_jun', 'carry_ration_may',
       'carry_ratio_apr', 'pay_status_sum']
df_eng = df[eng_feature]

In [39]:
df.head()

,max_credit,gender,education,marital_status,age,pay_status_sep,pay_status_aug,pay_status_jul,pay_status_jun,pay_status_may,...,aug_sep_bill_change,average_bill_change,pay_status_sum,habit_delay,full_pay_sep,full_pay_aug,full_pay_jul,full_pay_jun,full_pay__may,full_pay_apr
0,180000,1,2,1,44,0,0,0,0,0,...,-5894,-1153.4,0,0,0,0,0,0,0,0
1,130000,1,2,1,48,-2,-2,-2,-2,-2,...,-1240,-88.0,-12,0,1,1,1,1,1,1
2,60000,1,1,1,43,-1,3,2,0,0,...,165,31.0,3,0,0,0,0,0,0,0
3,240000,0,1,1,42,0,0,0,0,0,...,-18706,14467.8,0,0,0,0,0,0,0,0
4,100000,1,2,1,28,2,0,0,0,0,...,-1666,2683.8,4,0,0,0,0,0,0,0

### KNN Prediction

In [40]:
scaled_data = scaler.transform(df_eng)

In [42]:
grid_knn

KNeighborsClassifier(algorithm='ball_tree', leaf_size=40, n_neighbors=50,
                     weights='distance')

In [43]:
default_pred_knn = grid_knn.predict(scaled_data)

In [44]:
knn_prediction_df = pd.DataFrame({"default":default_pred_knn})

In [46]:
knn_prediction_df.to_csv("..\data\prediction_yunghanjeongknn.csv")

### Decision Tree Prediction

In [4]:
default_pred_tree = grid_tree.best_estimator_.predict(df)

In [5]:
tree_prediction_df = pd.DataFrame({"default":default_pred_tree})

In [6]:
tree_prediction_df.to_csv("..\data\prediction_yunghanjeongfinal.csv")

## Better Tree Prediction

In [29]:
#import Decision Tree
with open(r"..\model\best_grid_tree.pickle", "rb") as best_dt_model:
    best_grid_tree = pickle.load(best_dt_model)

In [30]:
default_pred_tree_best = best_grid_tree.predict(df)

In [31]:
best_tree_prediction_df = pd.DataFrame({"default":default_pred_tree})

In [32]:
best_tree_prediction_df.to_csv("..\data\prediction_yunghanjeongfinal02.csv")